# Homework 7 : Julia_1101 Yu_Hao Tseng
## PPT : 10_collection_type.pptx (p.1)
### https://github.com/ja754969/Julia-Programming/blob/master/Homework/hw7_TsengYuHao.ipynb

---
# Practice

## Tuple ( )

In [1]:
year_born = ("Paris Hilton",1981)

("Paris Hilton", 1981)

In [2]:
typeof(year_born)

Tuple{String, Int64}

In [3]:
year_born[1]

"Paris Hilton"

In [4]:
year_born[2]

1981

### Error

In [5]:
# year_born[2] = 1990

## Array form [  ]

In [6]:
year_born_arrayform = ["Paris Hilton",1981]

2-element Vector{Any}:
     "Paris Hilton"
 1981

In [7]:
typeof(year_born_arrayform)

Vector{Any} (alias for Array{Any, 1})

In [8]:
year_born_arrayform[2] = 1990
year_born_arrayform

2-element Vector{Any}:
     "Paris Hilton"
 1990

### Tuples are like a sealed box that we cannot change the content inside the box unless we unpack the box.

### One survey one tuple (元組)

## Usage of Tuples

In [9]:
a = [1 2 3]

1×3 Matrix{Int64}:
 1  2  3

In [10]:
b = size(a)

(1, 3)

In [11]:
typeof(b)

Tuple{Int64, Int64}

In [12]:
b[2]

3

### Non-changing Tuples in Julia

In [13]:
# b[2] = 30 # We cannot change the content in a tuple

## Changing Tuples to Arrays

In [14]:
b = collect(b) # changing tuples to arrays

2-element Vector{Int64}:
 1
 3

## Packing and Unpacking

In [15]:
b = ("Bob", 19, "CompSci") # tuple packing

("Bob", 19, "CompSci")

In [16]:
(name,age,course) = b # tuple unpacking info.
println(name)
println(age)
println(course)

Bob
19
CompSci

---
# Exercise # 1
## Create a tuple and an array for the vector below

In [17]:
M_tuple = (10,30)

(10, 30)

In [18]:
M_array = [10,30]

2-element Vector{Int64}:
 10
 30

---
# Practice

## Tuple Indexing

In [19]:
a = ((10,20,30), (40,50,60), (70,80,90))

((10, 20, 30), (40, 50, 60), (70, 80, 90))

In [20]:
typeof(a)

Tuple{Tuple{Int64, Int64, Int64}, Tuple{Int64, Int64, Int64}, Tuple{Int64, Int64, Int64}}

In [21]:
a[1][3]

30

In [22]:
b = [(10, 20,30), (40,50,60), (70,80,90)]

3-element Vector{Tuple{Int64, Int64, Int64}}:
 (10, 20, 30)
 (40, 50, 60)
 (70, 80, 90)

In [23]:
typeof(b)

Vector{Tuple{Int64, Int64, Int64}} (alias for Array{Tuple{Int64, Int64, Int64}, 1})

In [24]:
b[1][3]

30

---
# Exercise # 2
## use indexing to print out the value "40" of "x"

In [25]:
x = [(10,2,3),(40,5),(60,70)]

3-element Vector{Tuple{Int64, Int64, Vararg{Int64, N} where N}}:
 (10, 2, 3)
 (40, 5)
 (60, 70)

In [26]:
x[2][1]

40

## Swapping data using tuples

In [27]:
a = 1;
b = 2;

In [28]:
(a,b) = (b,a)
println(a)

2

---
# Exercise #3
## Table below notes five students’ height  in class. Store these information to a tuple and automatically show who is the tallest and shortest in the class. (HINT: need to unpack the tuple, and may need a “for” or “if” loop)

In [29]:
e3 = (("001",165.4),("002",162.8),("003",172.1),("004",157.3),("005",171.5))

(("001", 165.4), ("002", 162.8), ("003", 172.1), ("004", 157.3), ("005", 171.5))

In [30]:
Height_tallest = 0 # cm
Height_shortest = 1000 # cm
tallest_index = 0
shortest_index = 0
for i = 1:length(e3)
    (StudentID,Height) = e3[i]
    if Height > Height_tallest
        Height_tallest = Height
        tallest_index = i
    elseif Height < Height_shortest
        Height_shortest = Height
        shortest_index = i
    end
end
print("The StudentID ",e3[tallest_index][1])
println(" is tallest (",e3[tallest_index][2]," cm) in the class.")
print("The StudentID ",e3[shortest_index][1])
println(" is shortest (",e3[shortest_index][2]," cm) in the class.")

The StudentID 003 is tallest (172.1 cm) in the class.
The StudentID 004 is shortest (157.3 cm) in the class.

## Building Dictionary
### Organizing many types of data
### The idea of “key”-”value” pairs

In [31]:
num_word = Dict(1 => "one", 3 => "three", 2 => "two")

Dict{Int64, String} with 3 entries:
  2 => "two"
  3 => "three"
  1 => "one"

In [32]:
num_word[2] # Call the “value” by inputting the “key”

"two"

## More examples of Dict Usage

In [33]:
season_dict = Dict("win" => "DJF", "spr" => "MAM", "sum" => "JJA", "aut" => "SON")

Dict{String, String} with 4 entries:
  "sum" => "JJA"
  "win" => "DJF"
  "spr" => "MAM"
  "aut" => "SON"

In [34]:
season_dict["sum"]

"JJA"

## Keys and Values of Dictionary

In [35]:
Dict([("A",1), ("B",2)])

Dict{String, Int64} with 2 entries:
  "B" => 2
  "A" => 1

In [36]:
Dict("A" => 1, "B" => 2)

Dict{String, Int64} with 2 entries:
  "B" => 2
  "A" => 1

In [37]:
haskey(season_dict,"spr") # To check if we have the key in the dictionary or not

true

## Show Keys and Values of Dictionary

In [40]:
season_mon_array = Dict("win"=>[12,1,2],"spr"=>[3,4,5],"sum"=>[6,7,8],"aut"=>[9,10,11])

Dict{String, Vector{Int64}} with 4 entries:
  "sum" => [6, 7, 8]
  "win" => [12, 1, 2]
  "spr" => [3, 4, 5]
  "aut" => [9, 10, 11]

In [41]:
season_key = keys(season_mon_array)

KeySet for a Dict{String, Vector{Int64}} with 4 entries. Keys:
  "sum"
  "win"
  "spr"
  "aut"

In [42]:
for m in season_key
    println(m)
end

sum
win
spr
aut

---
# Homework 7

## (30%) Build a dictionary where the keys are numbers from 1 to 150 (including 1 and 150) and the values are the square of the keys.

In [51]:
square_dict = Dict()
for i = 1:150
    i
    square_dict[i] = i^2
end
square_dict

Dict{Any, Any} with 150 entries:
  5   => 25
  56  => 3136
  35  => 1225
  55  => 3025
  110 => 12100
  114 => 12996
  123 => 15129
  60  => 3600
  30  => 900
  32  => 1024
  6   => 36
  67  => 4489
  45  => 2025
  117 => 13689
  136 => 18496
  145 => 21025
  73  => 5329
  115 => 13225
  112 => 12544
  64  => 4096
  90  => 8100
  139 => 19321
  4   => 16
  13  => 169
  54  => 2916
  ⋮   => ⋮

## (30%) Build a “dict” for all the name of the decimal numbers in below, so that  we could call out the name of a decimal number by knowing the order of 10. (for examples: 6 $\rightarrow$ mega, 3 $\rightarrow$ kilo)

In [46]:
ten_order_name = Dict(1=>"deca",
                        2=>"hecto",
                        3=>"kilo",
                        6=>"mega",
                        9=>"giga",
                        12=>"tera",
                        15=>"peta",
                        18=>"exa")

Dict{Int64, String} with 8 entries:
  6  => "mega"
  15 => "peta"
  2  => "hecto"
  18 => "exa"
  9  => "giga"
  12 => "tera"
  3  => "kilo"
  1  => "deca"

In [49]:
ten_order_name[6]

"mega"

In [50]:
ten_order_name[12]

"tera"